@font-face {
    font-family: 'Miedinger-bold';
    src: url('./fuentes/FontsFree-Net-Miedinger-W01-Bold.ttf');
}
@font-face {
    font-family: 'Miedinger-regular';
    src: url('./fuentes/Miedinger W01 Regular.ttf');
}
@font-face {
    font-family: 'Satoshi-medium';
    src: url('./fuentes/Satoshi-Medium.otf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --font-family-title: 'Miedinger-bold';
    --font-family-subtitle: 'Miedinger-regular';
    --font-family-texts:'Satoshi-medium';
}

body{
    color: white;
    overflow-x: hidden;
    background-color: black;
    font-family: var(--font-family-texts);
}

.fondo{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.fondo img{
    width: 100%;
    
}

.header{
    width: 100%;
    position: fixed;
}

.nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 60px 0px;
    
}

.nav__name{
    font-size: 40px;
    font-family: "Miedinger-bold";
}

.nav__links{
    display: flex;
    gap: 20px;
}

.nav__links__item{
    font-size: 16px;
    list-style: none;
}

.nav__links__item a{
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    transition: background 1s, color .5s;
}

.nav__links__item a:hover{
    background-color: white;
    color: black;
}

.main{
    width: 100%;
    overflow-x: hidden;
}

.main__presentation{
    
    width: 85%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.banda{
    width: 100%;
    overflow: hidden;
    position: absolute;
    transform: rotate(-3deg);
    left: 0px;
    bottom: 60px;
    padding: 8px 5px;
    background-color: white;
    display: flex;
    gap: 100px;
}

.banda__categories{
    min-width: 1800px;
    color: black;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    font-family: var(--font-family-title);
    transform: translateX(120px);

    animation: anim__banda 20s infinite;
}

.star{
    width: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

@keyframes anim__banda{
    0%{
        transform: translateX(120px);
    }

    100%{
        transform: translateX(-99%);
    }
}

/*INICIO*/

.hola{

    font-size: 60px;
    font-family: var(--font-family-title);
}

.title{
    min-width: 556px;
}

.title h1{
    font-size: 30px;
    font-family: var(--font-family-subtitle)
}

.title__name{
    font-size: 60px;
}

.texts{
    display: flex;
    gap: 40px;
}

.description{
    width: 529px;
    font-size: 20px;
}

.main__links{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.social__networks{
    display: flex;
    gap: 20px;
}

.main__links__link{
    
    text-decoration: none;
    color: white;
}
.main__links__link.cv{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid white;
}

@media only screen and (max-width:1214px){
    .title{
        min-width: 100%;
    }
    .texts{
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media only screen and (max-width:845px){
    .nav{
        flex-direction: column;
        padding: 30px 0px;
    }
}

@media only screen and (max-width:769px){
    .hola{
        font-size: 40px;
    }

    .title h1{
        font-size: 25px;
    }
    
    .title__name{
        font-size: 50px;
    }

    .description{
        font-size: 18px;
    }

    .main__links{
        font-size: 16px;
    }

    .description{
        width: 100%;
    }

    .banda__categories{
        min-width: 1200px;
        font-size: 18px;
    }

}

@media only screen and (max-width:580px){
    .nav__links{
        gap: 5px;
    }
    .nav__links__item{
        font-size: 14px;
    }

    .hola{
        font-size: 30px;
    }

    .title h1{
        font-size: 20px;
    }
    
    .title__name{
        font-size: 35px;
    }

    .description{
        font-size: 16px;
    }

    .main__links{
        gap: 10px;
        flex-wrap: wrap;
        font-size: 14px;
    }
}